*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Lato', Verdana, sans-serif;
  margin: 0;
}

.container {
  width: 1020px;
  margin: 0px auto;
  padding: 0 40px;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding: 61px 0 58px;
}

.description__title {
  margin: 0;
  color: #666d89;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 19px;
}

.description__text {
  color: #767e9e;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.tag-menu__row {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-top: 11px;
}

.tag-menu__item {
  border-radius: 5px;
  border: 1px solid #666d89;
  font-size: 1.1rem;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  letter-spacing: 0.2px;
  cursor: pointer;
  margin-right: 11px;
  padding: 0 7px;
}

.tag-menu__item--active,
.tag-menu__item:hover {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.gallery__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1px;
  height: 610px;
  overflow: hidden;
}

.gallery__item {
  margin-bottom: 17px;
}

.gallery__item:hover {
  cursor: pointer;
  opacity: 0.3;
}

.about {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  padding: 60px 0 64px;
}

.info-board__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-board__item {
  max-width: 300px;
  margin-top: 45px;
}

.info-board__title {
  color: #666d89;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: -0.08px;
  line-height: 18px;
  margin-top: 14px;
  margin-bottom: 0;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-board__text {
  height: 40px;
  font-size: 1.2rem;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.25px;
  margin-top: 8px;
  overflow: hidden;
}



.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  border-radius: 50%;

}

.social-icons__icon {
  margin-right: 5px;
  margin-top: 14px;
}

.icon:hover {
  opacity: 0.4;
}

.icon--facebook {
  background-image: url(./assets/img/social-icons/facebook.svg);
}

.icon--google {
  background-image: url(./assets/img/social-icons/google+.svg);
}

.icon--twitter {
  background-image: url(./assets/img/social-icons/twitter.svg);
}

.icon--linkedin {
  background-image: url(./assets/img/social-icons/linkedin.svg);
}